<div class="bandeau">
</div>

<h1>Hébergements disponibles</h1>

<input type="text" id="search">

<div class="container cards-container">
    <% @hebergements.each do |heb| %>

    <div class="card d-flex">
      <h2><%= heb.name.capitalize %></h2>

      <div class="">
        <i class="far fa-compass"></i>
        <p><%= heb.address %></p>
      </div>
    </div>

    <% end %>

</div>



